<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Emiliano Mena González y .

**Fecha:** 07 de febrero del 2023.

**Expediente** : 728407 y .
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/EmilianoMena/ProyectoConjunto_EMena_LESanchez

# Tarea 2: Clase 4

## Enunciado de tarea (Transcibirlo)
> Descripción de la tarea

### Ejercicio 1: (enunciado) Transcribirlo

Código de solución estudiante 1

In [1]:
# Código de solución estudiante 1
.
.
.
.

In [7]:
# Datos del problema 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

# Solución
sol1 = list(map(lambda x:[x[0], x[-1] * x[-2] if (x[-1] * x[-2])>100 else x[-1] * x[-2] + 10],orders))
sol1

[['34587', 163.8],
 ['98762', 284.0],
 ['77226', 108.85000000000001],
 ['88112', 84.97]]

In [8]:
from functools import reduce
import numpy as np
# Datos del problema 2
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

# Solución

In [24]:
import pandas as pd
# Datos del problema 3
df_orders = pd.DataFrame(orders, columns=('Order Number', 'Book Title and Author', 'Quantity','Price per Item'))
# Solución
sol3_df1 = pd.DataFrame({
    'Order Number' : df_orders['Order Number'],
    'Total' : df_orders['Quantity'] * df_orders['Price per Item']
})
sol3_df1['Total'] = sol3_df1['Total'].where(sol3_df1['Total']>100, sol3_df1['Total']+10)   
sol3_df1

  Order Number   Total
0        34587  163.80
1        98762  284.00
2        77226  108.85
3        88112   84.97

In [63]:
# Datos del problema 4
lista4 = 'the notion of a lambda function goes all the way back to the origin of computer science'

# Solución
sol4 = list(filter(lambda lista: len(lista)>=4, lista4.split()))
sol4

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

In [64]:
# Datos del problema 5
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)

# Solución
sol5 = list(filter(lambda x: (x>32) & (x<80),temperatures))
sol5

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

In [65]:
# Datos del problema 6
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

# Solución
sol6 = np.minimum.reduce(point_xy)
sol6

array([0, 2])

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........